@import "_sass/common";
@import "_partials/layout";

section[role="banner"] {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  padding-top: 100px;
  padding-bottom: 100px;
  @include wrapper(700px);

  h2 {
    font-size: 3.2rem;
    font-weight: 800;
    margin-bottom: 20px;

    & + p {
      margin: 0 5% 50px;
    }
  }

  .doc-links {
    display: flex;
    justify-content: space-around;
    margin-bottom: 35px;

    a {
      margin: 0 10px;
      padding: 10px 20px;
    }

    & + p {
      font-weight: 200;
    }
  }

  @media screen and (max-width: 625px) {
    padding-top: 80px;
    padding-bottom: 80px;

    h2 {
      font-size: #{"min(max(2rem, 6vw), 2.5rem)"};
      margin: 0 5vw 25px;

      a {
        padding: 6px 10px;
      }

      & + p {
        display: none;
      }
    }
  }
}

.features {
  background: $brand-light;
  padding-top: 80px;
  padding-bottom: 50px;

  h3 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 10px;

    & + p {
      text-align: center;
      margin-bottom: 50px;
    }
  }

  .feature-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .feature-card {
      background: $light;
      padding: 25px;
      border-radius: 6px;
      box-shadow: 0 0 12px rgba($secondary, 0.5);
      width: calc(50% - 25px/2);
      margin-bottom: 25px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      h4 {
        font-size: 1.2rem;
        font-weight: 500;
        margin-bottom: 15px;
      }

      p {
        font-weight: 300;
        font-size: 0.95rem;
        padding-right: 35px;
        margin-bottom: 30px;
      }

      a {
        font-weight: 600;
        text-decoration: none;
        text-transform: capitalize;
      }
    }
  }

  @media screen and (max-width: 760px) {
    .feature-list {
      .feature-card {
        width: 100%;
      }
    }
  }
}

.quick-start {
  background: $light;
  padding-top: 80px;
  padding-bottom: 50px;
  text-align: center;

  h3 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 10px;

    & + p {
      text-align: center;
      margin-bottom: 50px;
      padding: 0 15%;
    }
  }

  a.link-button {
    margin: 45px 0 0;
    padding: 10px 20px;
  }

  @media screen and (max-width: 625px) {
    h3 {

      & + p {
        padding: 0 5%;
      }
    }
  }
}
