@import "../_sass/common";
@import "../_partials/layout";
@import "../_partials/search-field";
@import "../_partials/documentation-menu";
@import "../_partials/api-table-details";
@import "../_partials/api-description-list";

.documentation {
  display: flex;
  margin-top: 50px;

  aside {
    width: 300px;
    background: $brand-light;
    padding: 25px;
    border-radius: 5px;

    section {
      margin-top: 25px;

      ul {
        padding: 0;
        list-style: none;

        li {
          display: block;
          position: relative;
          padding: 2px 0 2px 10px;

          & > a {
            text-decoration: none;
            font-size: 1rem;
            font-weight: 400;
            color: $dark;
            min-height: 35px;
            display: flex;
            align-items: center;
            position: relative;
            padding: 5px 5px 5px 20px;

            &::before {
              content: '';
              display: inline-block;
              width: 5px;
              height: 5px;
              background: $dark;
              border-radius: 50%;
              position: absolute;
              left: 5px;
            }

            &:hover {
              background: rgba($brand, 0.03);
            }
          }

          .expand-indicator {
            --bg: #{$dark};
            position: absolute;
            right: 15px;
            top: 15px;
            width: 8px;
            height: 8px;
            background: linear-gradient(45deg, var(--bg) 50%, var(--bg) 0, transparent 0);
            display: inline-block;
            transform: rotate(-45deg);
            border-radius: 1px;
            opacity: 0.6;

            &.expanded {
              --bg: #{$brand};
              transform: rotate(135deg);
              opacity: 1;
            }
          }

          ul {
            display: none;

            li {
              a {
                font-weight: 300;

                &::before {
                  height: 1px;
                }
              }
            }

            &.expanded {
              display: block;
            }
          }

          &.current {
            & > a {
              font-weight: 600;
              color: $brand;
              background: rgba($brand, 0.1);

              &::before {
                background: $brand;
              }
            }
          }
        }
      }
    }
  }

  article {
    flex: 1;
    padding: 20px;
    font-weight: 300;

    h2 {
      font-size: 3rem;
    }

    h3 {
      font-size: 1.5rem;
      font-weight: 400;
      margin: 35px 0 10px;
    }

    li {
      margin-bottom: 20px;
    }

    a {
      font-weight: 300;
      font-style: italic;
    }

    blockquote {
      line-height: 150%;
      background: $secondary-lighter;
      margin: 0;
      padding: 20px;
      border-radius: 5px;
      font-style: italic;
    }
  }

  @media screen and (max-width: 768px) {
    flex-direction: column;

    aside {
      width: 100%;
    }
  }

  @media screen and (max-width: 425px) {
    article {
      footer {
        padding: 15px 0;
        background: none;
        border-top: 2px solid $secondary;
      }
    }
  }
}