@import "../_sass/common";
@import "../_partials/layout";
@import "../_partials/search-field";

.documentation {
  display: flex;
  margin: 50px 0;

  aside {
    width: 300px;
    background: $brand-light;
    padding: 25px;
    border-radius: 5px;

    section {
      margin-top: 25px;

      ul {
        padding: 0;

        li {
          height: 35px;
          display: flex;
          align-items: center;
          position: relative;
          padding-left: 20px;

          &::before {
            content: '';
            display: inline-block;
            width: 5px;
            height: 5px;
            background: $dark;
            border-radius: 50%;
            position: absolute;
            left: 5px;
          }

          a {
            text-decoration: none;
            font-size: 1rem;
            color: $dark;
          }

          &.current {
            background: rgba($brand, 0.1);
            border-right: 5px solid $brand;

            &::before {
              background: $brand;
            }

            a {
              font-weight: 600;
              color: $brand;
            }
          }
        }
      }
    }
  }

  article {
    flex: 1;
    padding: 20px;
    font-weight: 300;

    h2 {
      font-size: 3rem;
    }

    h3 {
      font-size: 1.5rem;
      font-weight: 400;
      margin: 35px 0 10px;
    }

    footer {
      padding: 15px 20px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      background: $secondary;
      border-radius: 5px;

      p {
        margin: 0;

        a {
          font-weight: 700;
        }
      }
    }
  }
}