@import "../_sass/common";
@import "../_partials/layout";
@import "../_partials/search-field";

.documentation {
  display: flex;
  margin: 50px 0;

  aside {
    width: 300px;
    background: $brand-light;
    padding: 25px;
    border-radius: 5px;

    section {
      margin-top: 25px;

      ul {
        padding: 0;
        list-style: none;

        li {
          display: block;
          position: relative;
          padding: 2px 0 2px 10px;

          & > a {
            text-decoration: none;
            font-size: 1rem;
            font-weight: 400;
            color: $dark;
            height: 35px;
            display: flex;
            align-items: center;
            position: relative;
            padding-left: 20px;

            &::before {
              content: '';
              display: inline-block;
              width: 5px;
              height: 5px;
              background: $dark;
              border-radius: 50%;
              position: absolute;
              left: 5px;
            }

            &:hover {
              background: rgba($brand, 0.03);
            }
          }

          .expand-indicator {
            --bg: #{$dark};
            position: absolute;
            right: 15px;
            top: 15px;
            width: 8px;
            height: 8px;
            background: linear-gradient(45deg, var(--bg) 50%, var(--bg) 0, transparent 0);
            display: inline-block;
            transform: rotate(-45deg);
            border-radius: 1px;
            opacity: 0.6;

            &.expanded {
              --bg: #{$brand};
              transform: rotate(135deg);
              opacity: 1;
            }
          }

          ul {
            display: none;

            li {
              a {
                font-weight: 300;

                &::before {
                  height: 1px;
                }
              }
            }

            &.expanded {
              display: block;
            }
          }

          &:focus-within,
          &:hover {
            ul {
              display: block;
            }
          }

          &.current {
            & > a {
              font-weight: 600;
              color: $brand;
              background: rgba($brand, 0.1);

              &::before {
                background: $brand;
              }
            }
          }
        }
      }
    }
  }

  article {
    flex: 1;
    padding: 20px;
    font-weight: 300;

    h2 {
      font-size: 3rem;
    }

    h3 {
      font-size: 1.5rem;
      font-weight: 400;
      margin: 35px 0 10px;
    }

    footer {
      padding: 15px 20px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      background: $secondary;
      border-radius: 5px;

      p {
        margin: 0;

        a {
          font-weight: 400;
          text-decoration: none;
        }
      }
    }
  }
}