header {
  background: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 25px;
  padding-bottom: 15px;
  position: sticky;
  top: 0;
  left: 0;

  h1 {
    margin: 0;

    a:any-link {
      text-decoration: none;
      color: #3f51b5;
      font-weight: 200;
      font-size: 3rem;
      display: block;
    }

    strong {
      display: block;
      font-size: 0.5em;
      font-weight: 300;
      margin-top: 10px;
    }
  }

  nav {
    a:any-link {
      color: #222;
      padding: 10px;
      margin: 0 10px;
      text-decoration: none;

      &.version-link {
        color: #3f51b5;
        font-weight: 300;
      }
    }
  }
}